/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/image/
/public/image/*
/public/sitemap.xml
token2.json

/resources/lang/en/page.php
/resources/lang/ko/page.php